.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.swal2-popup {
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

     /* Extra small devices (phones, 375px and down) huawei */
@media only screen and (max-width: 375px) {
    #myChart3{
        position: relative;
        height: 300px !important;
    }
    #chartMembers{
        display: none;
    }
    #chartLoans{
        display: none;
    }
}
   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #myChart3{
        position: relative;
        height: 300px !important;
    }
    #chartMembers{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #myChart3{
        position: relative;
        height: 300px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #myChart3{
        position: relative;
        height: 300px !important;
    }
    #chartLoans{
        position: relative;
        height: auto !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #amount{
        font-size: 20px;
    }

    #myChart3{
        position: relative;
        height: 300px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
        #myChart3{
        position: relative;
        height: 300px !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1920px and up) */
    @media only screen and (min-width: 1920px) {
        #myChart3{
        position: relative;
        height: 400px !important;
        width: 100% !important;
    }
} 

/*notification bell icon*/
.navbar-right-top {}

.navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2
}

.navbar-right-top .nav-item:last-child {
    border: none
}

.navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f
}

.top-search-bar {
    padding-top: 12px;
    padding-right: 24px
}

.notification {}

.notification-dropdown {
    min-width: 320px
}

.notification-dropdown,
.connection-dropdown,
.nav-user-dropdown {
    padding: 0px;
    margin: 0px
}

.notification-title {
    font-size: 14px;
    color: #3d405c;
    text-align: center;
    padding: 8px 0px;
    border-bottom: 1px solid #e3e3e3;
    line-height: 1.5;
    background-color: #fffffe
}

.notification-list {}

.notification-list .list-group-item {
    border-radius: 0px;
    padding: 12px;
    margin-top: -1px;
    border-left: transparent;
    border-right: transparent
}

.notification-list .list-group-item.active {
    z-index: 2;
    color: #3d405c;
    background-color: #f7f7fb;
    border-color: #e1e1e7
}

.notification-list .list-group-item-action:focus,
.list-group-item-action:hover {
    color: #404040;
    text-decoration: none;
    background-color: #f7f7fb
}

.notification-list .list-group-item:last-child {}

.notification-info {}

.notification-info .notification-date {
    display: block;
    font-size: 11px;
    margin-top: 4px;
    text-transform: uppercase;
    color: #71748d
}

.notification .dropdown-toggle::after,
.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: none
}

.notification-list-user-img {
    float: left
}

.notification-list-user-block {
    padding-left: 50px;
    font-size: 14px;
    line-height: 21px
}

.notification-list-user-name {
    color: #5969ff;
    font-size: 14px;
    margin-right: 8px
}

.list-footer,
.conntection-footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    line-height: 1.5;
    font-weight: 700;
    background-color: #5969ff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.list-footer a,
.conntection-footer a {
    color: #fff
}

.list-footer a:hover,
.conntection-footer a:hover {
    color: #fff
}

.indicator {
    content: '';
    position: absolute;
    top: 16px;
    left: 35px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ef172c;
    animation: .9s infinite beatHeart;
    transform-origin: center
}

@keyframes beatHeart {
    0% {
        transform: scale(0.9)
    }

    25% {
        transform: scale(1.1)
    }

    40% {
        transform: scale(0.9)
    }

    60% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(0.9)
    }
}

.connection {}

.connection-dropdown {}

.connection-list {
    width: 300px;
    padding: 20px
}

.connection-item {
    border-radius: 3px;
    line-height: 32px;
    text-align: center;
    padding: 12px 7px 4px;
    display: block;
    border: 1px solid transparent;
    color: #3d405c;
    font-size: 12px
}

.connection-item img {
    width: 32px
}

.connection-item:hover {
    background-color: #fff;
    border: 1px solid #e6e6f2
}

.connection-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.nav-user {}

.nav-user-dropdown {
    padding: 0px;
    min-width: 230px;
    margin: 0px
}

.nav-user-name {}

.nav-user-info {
    background-color: #5969ff;
    line-height: 1.4;
    padding: 12px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px 2px 0 0
}

.nav-user-info .status {
    float: left;
    top: 7px;
    left: 0px
}

.nav-user-dropdown {}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4
}

.nav-user-dropdown .dropdown-item:hover {
    background-color: #f7f7fb
}

.user-avatar-xxl {
    height: 128px;
    width: 128px
}

.user-avatar-xl {
    height: 90px;
    width: 90px
}

.user-avatar-lg {
    height: 48px;
    width: 48px
}

.user-avatar-md {
    height: 32px;
    width: 32px
}

.user-avatar-sm {
    height: 24px;
    width: 24px
}

.user-avatar-xs {
    height: 18px;
    width: 18px
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #F7F9FA;
    background: #F7F9FA;
    color: #fff
}

.media-attachment div.avatar {
    border: none
}

.avatar.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center
}

.avatar.bg-primary i {
    font-size: 14px
}

    /* application form css */
    .display-none {
        display: none;
    }
    
    .multi-wizard-step p {
        margin-top: 12px;
    }
    
    .stepwizard-row {
        display: table-row;
    }
    
    .stepwizard {
        display: table;
        position: relative;
        width: 100%;
    }
    
    .multi-wizard-step button[disabled] {
        filter: alpha(opacity=100) !important;
        opacity: 1 !important;
    }
    
    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        content: " ";
        width: 100%;
        height: 1px;
        z-order: 0;
        position: absolute;
        background-color: #fefefe;
    }
    
    .multi-wizard-step {
        text-align: center;
        position: relative;
        display: table-cell;
    }
      
      
      .subtitle {
        color: #eee;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
      }
      
      .input-container {
        height: 50px;
        position: relative;
        width: 100%;
      }
      
      .ic1 {
        margin-top: 40px;
      }
      
      .ic2 {
        margin-top: 40px;
      }
      
      .input {
        background-color: #f4f4f4;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #000000;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
      }
      
      .cut {
        background-color: #f4f4f4;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 90px;
      }
      
      .cut-short {
        width: 50px;
      }
      
      .input:focus ~ .cut,
      .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
      }
      
      .placeholder {
        color: #65657b;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
      }
      
      .input:focus ~ .placeholder,
      .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
      }
      
      .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
      }
      
      .input:focus ~ .placeholder {
        color: #dc2f55;
      }
      
      .submit {
        background-color: #08d;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        /* // outline: 0; */
        text-align: center;
        width: 100%;
      }
      
      .submit:active {
        background-color: #06b;
      }

    
    
    .media.media-news {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding-bottom: 210px;
    }
    @media (min-width: 768px) {
        .media.media-news {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    @media (min-width: 1200px) {
        .media.media-news {
            padding-bottom: 25px;
            margin-bottom: 0;
        }
    }
    .media.media-news .media-body {
        padding: 20px;
        box-shadow: 0 22px 28px 0 rgba(0, 0, 0, 0.06);
        background: #fff;
        position: absolute;
        width: 85%;
        right: 0;
        bottom: 0;
    }

    .nextBtn {
        position: relative;
        top: 2rem;
    }

    /* @media (max-width: 414px) {

        .applycard .step1Buttons{
            position: relative;
            top: 80px !important;
        }
    } */

    @media (max-width: 415px) {
        #nextBtn {
            bottom: 5em;
        }

        .applycard {
            position: relative !important;
            height: 54em !important;
        }

        .applycard .step1Buttons{
            position: relative;
            top: 110px !important;
        }

        /* .applycard .inputAmount{

        } */

        #amount {
            position: relative;

        }

        #duration {
            position: relative;

        }

        #type {
            position: relative;

        }

        #description {
            position: relative;

        }

        #document {
            position: relative;
 
        }
    }

    @media (max-width: 574px) {


        .applycard .inputDuration{
            position: relative;
            top: 20px !important;
        }


        .applycard .inputDescription{
            position: relative;
            top: 30px !important;
        }

        .applycard .step1Buttons{
            position: relative;
            top: 110px !important;
        }
    }

    @media (max-width: 767px) {

        .applycard .step1Buttons{
            position: relative;
            top: 110px !important;
        }
    }



    @media (max-width: 768px) {        
        #medianews {
            padding-top: 8em;
        }

        #nextBtn {
            bottom: 5em;
        }

        .applycard {
            position: relative;
            height: 46em ;
        }
    }

    @media (min-width: 768px) {
        .media.media-news .media-body {
            position: relative;
            padding: 46.5px 35px;
            right: 0;
        }

        .medianews {
            padding-top: 20px !important;
        }

        .applycard .step1Buttons{
            position: relative;
            top: 40px !important;
        }
    }
    @media (min-width: 992px) {
        .media.media-news .media-body {
            right: 40px;
            bottom: 0;
        }
    }
    @media (min-width: 1200px) {
        .media.media-news .media-body {
            position: relative;
            right: 0px;
            width: 60%;
            padding: 20px;
        }
    }
    .media.media-news .media-body .media-date {
        font-family: "Open Sans", sans-serif;
        color: #848484;
        margin-bottom: 10px;
    }
    .media.media-news .media-body h5 {
        font-size: 22px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .media.media-news .media-body h5.small {
        font-size: 16px;
    }
    .media.media-news .media-body p {
        font-family: "Open Sans", sans-serif;
        color: #848484;
    }
    .media.media-news .media-body .common-btn {
        margin-top: 10px;
    }

    .applycard {
        position: relative;
        height: 48em;
        border: 10px solid #f4f4f4;
    }

    /* @media (min-width: 768px) {
        .applycard {
            position: relative;
            height: 40px;
        }
    } */

    /* @media (max-width: 767px) {
        .applycard {
            position: relative;
            height: 50px;
        }
    } */

/* full screen loader on notifications */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
